.header{
    background-image: url("../img/main-mini-background.png");
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    height: 863px;
}

.header_back{
    height: 98%;
}

.header-nav{
    display: flex;
    height: 15%;
}
.header-nav__menu,
.header-nav__socials{
    display: flex;
    /* visibility: hidden; */
    /* width: 10px;
    flex: 0; */
}

.header-nav__menu a {
    color: white;
    text-decoration: none;
    margin: 4px;
}

.header-nav__logo{
    display: flex;
    justify-self: flex-start;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
}

.button-container{
    height: 20%;
    display: flex;
    align-items: center;
}

@media (min-width: 650px) {
    .header{
        background-image: url("../img/main-background.png");
        height: 1050px;
    }
    .header_back{
        height: 90%;
    }

.header__nav{
    height: 150px;
    align-items: center; 
    display: flex;
}
.header-nav__logo{
    display: flex;
    flex: auto;
}
.header-nav__menu{
    display: flex;
    justify-content: space-around;
    flex: auto;
    visibility: visible;
}

.header-nav__socials{
    justify-self: flex-end;
    justify-content: space-around;
    display: flex;
    visibility: visible;
}  
}


.button{
    background-color: rgba(32, 145, 249, 1);
    border-radius: 35px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
